__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
.git/
.gitignore
.github/
*.log
.DS_Store
*.md
README.md
.vscode/
.idea/
*.swp
*.swo
Dockerfile
.dockerignore
static/raw_images/*.jpg
static/raw_images/*.png
static/raw_images/*.jpeg
static/brand_chart.png
car_data.zip
*.zip
