# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/

# Mac & Linux system files
.DS_Store

# Model/data outputs

static/raw_images/
static/brand_chart.png

# Jupyter/Colab Notebooks (optional)
model/car_brand_classifier.pt
